<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="et.template.dao.OperateRecordDao">
  <resultMap id="BaseResultMap" type="et.template.model.OperateRecord">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="controller" jdbcType="VARCHAR" property="controller" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="parameter" jdbcType="VARCHAR" property="parameter" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    sid, controller, method, user_id, description, status, parameter, result, create_date
  </sql>
  
  <select id="findByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operate_record
    where sid = #{user_id, jdbcType=INTEGER}
  </select>
    
  <insert id="insertRecord" parameterType="et.template.model.OperateRecord">
    insert into operate_record (sid, controller, method, user_id, 
      description, status, parameter, result)
    values (#{sid,jdbcType=INTEGER}, #{controller,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
    	#{userId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
    	#{parameter,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertRecordSelective" parameterType="et.template.model.OperateRecord">
    insert into operate_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="controller != null">
        controller,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="parameter != null">
        parameter,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="controller != null">
        #{controller,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="parameter != null">
        #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>